<div class="card text-center">
    <div class="card-header bg-info">
        Featured
    </div>
    <div class="jumbotron card-body" style="padding:30px;border:1px solid gray;margin-bottom: 0px;">
        <h5 class="card-title">Data-Lab</h5>
        <p class="card-text">We are live !!. Some more info.</p>
        <a href="#" class="btn btn-success">About us</a>
    </div>

</div>